.heading {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: cursive;
}

.janhaviPhoto,
.chinmayeePhoto,
.pranjalPhoto {
    border-radius: 50%;
    margin-left: 80px;
    margin-top: 20px;
}

.container {
    font-family: cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstbox,
.secondbox,
.thirdbox {
    width: 450px;
}

.icon {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text {
    margin-top: 50px;
}

.name {
    text-align: center;
}

.selfIntro {
    margin-top: 20px;
    text-align: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeInUp 1s ease forwards;
    opacity: 1;
}

.firstbox, .secondbox, .thirdbox {
    opacity: 0;
}
